<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400"><%= I18n.t('Iniciar sesión') %></h4>

            <%= simple_form_for(resource, 
                                as: resource_name, 
                                url: session_path(resource_name)
                               ) do |f| %>
              <div class="form-inputs">
                <%= f.input :nusuario, required:  false, autofocus: true, 
                  label: I18n.t('Usuario') %>
                <%= f.input :password, required: false, 
                  label: I18n.t('Clave') %>
                <% if devise_mapping.rememberable? %>
                  <%= f.label :remember_me, I18n.t('Recordarme'), 
                    :class => 'control-label' %>
                  <%= f.check_box :remember_me %> 
                <% end %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, I18n.t('Iniciar sesión'), 
                  class: "btn btn-block btn-primary mb-4",
                  'data-turbo' => false %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

