<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="formato_fecha" content="<%= Rails.configuration.x.formato_fecha  ? Rails.configuration.x.formato_fecha : 'yyyy-mm-dd' %>">
    <meta name="turbo-cache-control" content="no-cache">
    <title><%= content_for?(:titulo) ? yield(:titulo) : Sip.titulo %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=  yield(:linkhref) if content_for?(:linkhref) %>

    <%= stylesheet_link_tag "application", :media => "all", 
      'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", defer: true %>
    <%= javascript_include_tag "recursos_sprockets", defer: true %>

    <!-- ****** favicons e ideas de enlaces de  faviconit.com ****** -->
    <%= favicon_link_tag 'favicon-16.png', :rel => 'icon', :type => 'image/png', :sizes => '16x16' %>
    <%= favicon_link_tag 'favicon-32.png', :rel => 'icon', :type => 'image/png', :sizes => '32x32' %>
    <%= favicon_link_tag 'favicon-64.png', :rel => 'icon', :type => 'image/png', :sizes => '64x64' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon',  :sizes => '16x16 32x32 64x64' %>
    <%= favicon_link_tag 'favicon-96.png', :rel => 'icon', :type => 'image/png', :sizes => '96x96' %>
    <%= favicon_link_tag 'favicon-160.png', :rel => 'icon', :type => 'image/png', :sizes => '160x160' %>
    <%= favicon_link_tag 'favicon-192.png', :rel => 'icon', :type => 'image/png', :sizes => '192x192' %>
    <%= favicon_link_tag 'favicon-57.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon-57.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon-60.png', :rel => 'apple-touch-icon', :size => '60x60', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon-72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'favicon-72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'favicon-76.png', :rel => 'apple-touch-icon', :size => '76x76', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon-114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'favicon-114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'favicon-120.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '120x120' %>
    <%= favicon_link_tag 'favicon-144.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'favicon-144.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'favicon-152.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '152x152' %>
    <%= favicon_link_tag 'favicon-180.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '180x180' %>

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/favicon-144.png">
    <meta name="msapplication-config" content="/assets/browserconfig.xml">


    <link rel="stylesheet" href="<%= Pathname(
      Rails.configuration.relative_url_root).join(
        'prosidebar/main.css').to_s %>" >


  </head>
  <body>

    <%= barra_navegacion(
      marca: content_for?(:titulo) ? yield(:titulo) : Sip.titulo,
      enlace_marca: content_for?(:enlace_marca) ? yield(:enlace_marca) : main_app.root_path) do %>
      <%= yield :menu %>
    <% end %>


    <div class="layout has-sidebar fixed-sidebar fixed-header">
      <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
        <div class="image-wrapper">
          <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
        </div>
        <div class="sidebar-layout">
          <div class="sidebar-header">
            <span style="text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 3px;
            font-weight: bold;
            ">
              <a href='<%= content_for?(:enlace_marca) ? yield(:enlace_marca) : main_app.root_path %>'>
                <%= content_for?(:titulo) ? yield(:titulo) : Sip.titulo %>
              </a>
            </span>
          </div>
          <div class="sidebar-content">
            <nav class="menu open-current-submenu">
              <ul>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-vip-diamond-fill"></i>
                    </span>
                    <span class="menu-title">Proyectos</span>
                    <span class="menu-suffix">&#x1F525;</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Listado</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Validar</span>
                        </a>
                      </li>
                      <li class="menu-item sub-menu">
                        <a href="#">
                          <span class="menu-title">Medir Indicadores</span>
                        </a>
                        <div class="sub-menu-list">
                          <ul>
                            <li class="menu-item">
                              <a href="#">
                                <span class="menu-title">Input</span>
                              </a>
                            </li>
                            <li class="menu-item">
                              <a href="#">
                                <span class="menu-title">Select</span>
                              </a>
                            </li>
                            <li class="menu-item sub-menu">
                              <a href="#">
                                <span class="menu-title">More</span>
                              </a>
                              <div class="sub-menu-list">
                                <ul>
                                  <li class="menu-item">
                                    <a href="#">
                                      <span class="menu-title">CheckBox</span>
                                    </a>
                                  </li>
                                  <li class="menu-item">
                                    <a href="#">
                                      <span class="menu-title">Radio</span>
                                    </a>
                                  </li>
                                  <li class="menu-item sub-menu">
                                    <a href="#">
                                      <span class="menu-title">Want more ?</span>
                                      <span class="menu-suffix">&#x1F914;</span>
                                    </a>
                                    <div class="sub-menu-list">
                                      <ul>
                                        <li class="menu-item">
                                          <a href="#">
                                            <span class="menu-prefix">&#127881;</span>
                                            <span class="menu-title">You made it </span>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-bar-chart-2-fill"></i>
                    </span>
                    <span class="menu-title">Charts</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Pie chart</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Line chart</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Bar chart</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-shopping-cart-fill"></i>
                    </span>
                    <span class="menu-title">E-commerce</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Products</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Orders</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">credit card</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-global-fill"></i>
                    </span>
                    <span class="menu-title">Maps</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Google maps</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Open street map</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-ink-bottle-fill"></i>
                    </span>
                    <span class="menu-title">Theme</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Dark</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Light</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-book-2-fill"></i>
                    </span>
                    <span class="menu-title">Documentation</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-calendar-fill"></i>
                    </span>
                    <span class="menu-title">Calendar</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-service-fill"></i>
                    </span>
                    <span class="menu-title">Examples</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="sidebar-footer"><span>Sidebar footer</span></div>
        </div>
      </aside>
      <div id="overlay" class="overlay"></div>
      <div class="layout">
        <header class="header">
          <a id="btn-collapse" href="#">
            <i class="ri-menu-line ri-xl"></i>
          </a>
          <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
            <i class="ri-menu-line ri-xl"></i>
          </a>
        </header>

        <main class="content">
    <% if !defined?(@clase_divcontenido) %>
      <% @clase_divcontenido = 'container master-container' %>
    <% end %>
    <% if !defined?(@margensup_divcontenido) %>
      <% @margensup_divcontenido= '40px' %>
    <% end %>
    <div id="div_contenido" class="<%= @clase_divcontenido %>" style="margin-top: <%= @margensup_divcontenido %>;" >
      <% if content_for?(:breadcrumb) %>
        <ul class="breadcrumb">
          <%= yield :breadcrumb %>
        </ul>
      <% end %>
      <div class="page-header"> </div>
      <%= anuncios_bootstrap %>

      <%= yield %>
    </div>


    <% if content_for?(:piedepagina) %>
      <footer style='text-align: right; margin-right: 60px'>
        <%= yield :piedepagina %>
      </footer>
    <% end %>

    </div> <!-- /container -->
  </main>
  </body>
</html>
