<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Cor1440 permite hacer seguimiento y evaluación de proyectos con marco lógico y susa actividades. ">
    <meta name="keywords" content="Cor1440, Marco lógico, monitore y evaluacion de proyectos">
    <meta name="author" content="Pasos de Jesús">

    <meta name="formato_fecha" content="<%= Rails.configuration.x.formato_fecha  ? Rails.configuration.x.formato_fecha : 'yyyy-mm-dd' %>">
    <title><%= content_for?(:titulo) ? yield(:titulo) : Sip.titulo %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all", 
      'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload',
      defer: false %>
    <%= javascript_pack_tag 'dk1', 'data-turbolinks-track': 'reload' %>
    <%=  yield(:linkhref) if content_for?(:linkhref) %>

    <!--%= stylesheet_link_tag "application", :media => "all", 
      'data-turbolinks-track': 'reload' %-->
    <!-- Seguimios usando sprockets mientras:
      1. Pasamos javascript en assets/javascript a modulos
      2. Publicamos partes de gemas como paquetes npm -->
      <%= javascript_include_tag "application" %>

      <!-- ****** favicons e ideas de enlaces de  faviconit.com ****** -->
      <%= favicon_link_tag 'favicon-16.png', :rel => 'icon', :type => 'image/png', :sizes => '16x16' %>
      <%= favicon_link_tag 'favicon-32.png', :rel => 'icon', :type => 'image/png', :sizes => '32x32' %>
      <%= favicon_link_tag 'favicon-64.png', :rel => 'icon', :type => 'image/png', :sizes => '64x64' %>
      <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon',  :sizes => '16x16 32x32 64x64' %>
      <%= favicon_link_tag 'favicon-96.png', :rel => 'icon', :type => 'image/png', :sizes => '96x96' %>
      <%= favicon_link_tag 'favicon-160.png', :rel => 'icon', :type => 'image/png', :sizes => '160x160' %>
      <%= favicon_link_tag 'favicon-192.png', :rel => 'icon', :type => 'image/png', :sizes => '192x192' %>
      <%= favicon_link_tag 'favicon-57.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
      <%= favicon_link_tag 'favicon-57.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
      <%= favicon_link_tag 'favicon-60.png', :rel => 'apple-touch-icon', :size => '60x60', :type => 'image/png' %>
      <%= favicon_link_tag 'favicon-72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
      <%= favicon_link_tag 'favicon-72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>
      <%= favicon_link_tag 'favicon-76.png', :rel => 'apple-touch-icon', :size => '76x76', :type => 'image/png' %>
      <%= favicon_link_tag 'favicon-114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
      <%= favicon_link_tag 'favicon-114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>
      <%= favicon_link_tag 'favicon-120.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '120x120' %>
      <%= favicon_link_tag 'favicon-144.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
      <%= favicon_link_tag 'favicon-144.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144' %>
      <%= favicon_link_tag 'favicon-152.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '152x152' %>
      <%= favicon_link_tag 'favicon-180.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '180x180' %>

      <meta name="msapplication-TileColor" content="#FFFFFF">
      <meta name="msapplication-TileImage" content="/assets/favicon-144.png">
      <meta name="msapplication-config" content="/assets/browserconfig.xml">

      <!-- dashboardkit 1.0 -->
      <link rel="stylesheet" href="<%=
      Pathname(Rails.configuration.relative_url_root).join(
        'dk1/assets/fonts/feather.css').to_s %>">
        <link rel="stylesheet" href="<%=
        Pathname(Rails.configuration.relative_url_root).join(
          'dk1/assets/fonts/fontawesome.css').to_s %>">
          <link rel="stylesheet" href="<%=
          Pathname(Rails.configuration.relative_url_root).join(
            'dk1/assets/fonts/material.css').to_s %>">
            <link rel="stylesheet" href="<%=
            Pathname(Rails.configuration.relative_url_root).join(
              'dk1/assets/css/style.css').to_s %>" id="main-style-link">
              <link rel="stylesheet" href="<%=
              Pathname(Rails.configuration.relative_url_root).join(
                'dk1/assets/css/personaliza-dk1.css').to_s %>">

  </head>
  <body>

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ Mobile header ] start -->
    <div class="pc-mob-header pc-header">
      <div class="pcm-logo">
        <img src="<% Pathname(Rails.configuration.relative_url_root).join(
          'dk1/assets/fonts/feather.css').to_s %>"
          alt="" class="logo logo-lg">
      </div>
      <div class="pcm-toolbar">
        <a href="#!" class="pc-head-link" id="mobile-collapse">
          <div class="hamburger hamburger--arrowturn">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <nav class="pc-sidebar">
      <div class="navbar-wrapper">
        <div class="m-header">
          <a href="<%= Rails.configuration.relative_url_root.to_s %>" 
            class="b-brand"
            style="text-decoration: none" >
            <%= image_tag('logo-av2.png', 
                          class: 'logo logo-lg') %>
                        <span style='color: white'> Cor1440</span>
          </a>
        </div>
        <div class="navbar-content ps ps--active-y">
          <ul class="pc-navbar">
            <li class="pc-item pc-caption">
              <label>Monitoreo</label>
            </li>
            <li class="pc-item">
              <a href="<%= Rails.configuration.relative_url_root.to_s %>"
                class="pc-link "><span class="pc-micon">
                  <i class="material-icons-two-tone">home</i></span>
                <span class="pc-mtext">Tablero</span></a>
            </li>
            <% if !current_usuario.nil? %>
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link ">
                  <span class="pc-micon">
                    <i class="material-icons-two-tone">business_center</i>
                  </span>
                  <span class="pc-mtext">Proyectos</span>
                  <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                  <%= opcion_menu_dk(
                    'Listado', cor1440_gen.proyectosfinancieros_path) %>
                  <%= opcion_menu_dk(
                    'Validar', cor1440_gen.validar_proyectosfinancieros_path) %>
                  <% if can? :manage, Cor1440Gen::Mindicadorpf %>
                    <%= opcion_menu_dk(
                      'Medir Indicadores de Resultado',
                      cor1440_gen.mindicadorespf_path) %>
                  <% end %>
                </ul>
              </li>
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link ">
                  <i class="material-icons-two-tone">history_edu</i>
                  <span class="pc-mtext">Actividades</span>
                  <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                  <%= opcion_menu_dk(
                    'Listado', cor1440_gen.actividades_path) %>
                  <%= opcion_menu_dk(
                    'Contar por actividad de marco lógico',
                    cor1440_gen.contar_actividades_path) %>
                  <%= opcion_menu_dk(
                    'Contar por beneficiario y actividad de marco lógico',
                    cor1440_gen.contar_actividades_beneficiarios_path) %>
                  <% if can? :manage, ::Sip::Orgsocial %>
                    <%= opcion_menu_dk "Organizaciones sociales",
                      sip.orgsociales_path %>
                  <% end %>
                  <% if can? :manage, ::Sip::Persona %>
                    <%= opcion_menu_dk "Beneficiarios",
                      sip.personas_path %>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li class="pc-item pc-caption">
              </span>
              <span class="pc-micon">
                <label>Documentos</label>
            </li>
            <li class="pc-item">
              <a href="https://docs.google.com/document/d/1mmydkqNmZbXkzcpkiegQ_XAP_NkjfX-RXgcW1yzjdpE/edit?usp=sharing" 
                target="_blank"
                class="pc-link ">
                <span class="pc-micon">
                  <i class="material-icons-two-tone">menu_book</i>
                </span>
                <span class="pc-mtext">Manual</span></a>
            </li>

            <% if !current_usuario.nil? %>
              <li class="pc-item">
                <a href="<%= heb412_gen.sisini_path %>"
                   class="pc-link "><span class="pc-micon">
                     <i class="material-icons-two-tone">cloud</i></span>
                   <span class="pc-mtext">Nube</span>
                </a>
              </li>

              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link ">
                  <span class="pc-micon">
                    <i class="material-icons-two-tone">edit</i>
                  </span>
                  <span class="pc-mtext">Plantillas</span>
                  <span class="pc-arrow">
                    <i data-feather="chevron-right"></i>
                  </span>
                </a>
                <ul class="pc-submenu">
                  <% if can? :manage, ::Heb412Gen::Plantillahcm %>
                    <%= opcion_menu_dk(
                      "Plantillas para listados en hojas de calculo",
                      heb412_gen.plantillashcm_path) %>
                  <% end %>
                  <% if can? :manage, ::Heb412Gen::Plantillahcr %>
                    <%= opcion_menu_dk(
                      "Plantillas para un registro en hoja de calculo",
                      heb412_gen.plantillashcr_path) %>
                  <% end %>
                </ul>
              </li>
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link ">
                  <span class="pc-micon">
                    <i class="material-icons-two-tone">settings</i>
                  </span>
                  <span class="pc-mtext">Administrar</span>
                  <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                  <% if current_usuario.rol == Ability::ROLADMIN %>
                    <%= opcion_menu_dk "Usuarios", main_app.usuarios_path %>
                  <% end %>
                  <% if can? :manage, Mr519Gen::Formulario %>
                    <%= opcion_menu_dk "Formularios", mr519_gen.formularios_path %>
                  <% end %>
                  <% if current_usuario.rol == Ability::ROLADMIN %>
                    <%= opcion_menu_dk "Tablas básicas", sip.tablasbasicas_path %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <header class="pc-header">
      <div class="header-wrapper"> 
        <div class="mr-auto pc-mob-drp">
        </div>
        <div class="ml-auto">
          <ul class="list-unstyled">
            <li class="dropdown pc-h-item">
              <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <i class="material-icons-two-tone">search</i>
              </a>
              <div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-search">
                <form class="px-3">
                  <div class="form-group mb-0 d-flex align-items-center">
                    <i data-feather="search"></i>
                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                  </div>
                </form>
              </div>
            </li>
            <% if current_usuario %>
              <li class="dropdown pc-h-item">
                <a href="#" class="pc-head-link dropdown-toggle arrow-none mr-0"  data-bs-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                  <img src="<%= main_app.usuarios_foto_path(current_usuario.id) %>" 
                  alt="user-image" class="user-avtar">
                  <span>
                    <span class="user-name"><%= current_usuario.nusuario %></span>
                    <span class="user-desc"><%= Ability::ROLES.to_h.key(current_usuario.rol) %></span>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                  <a href="<%= main_app.editar_registro_usuario_path %>" class="dropdown-item">
                    <i class="material-icons">chrome_reader_mode</i>
                    <span>Clave y tema</span>
                  </a>
                  <a href="<%= main_app.sign_out_path %>" class="dropdown-item">
                    <i class="material-icons">
                      logout
                    </i>
                    <span>Salir</span>
                  </a>
                </div>
              </li>
            <% else %>
              <li class="pc-h-item">
                <a href="<%= main_app.new_usuario_session_path %>">
                  <i class="material-icons">
                    login
                  </i>
                  <span class="align-top">Iniciar sesión</span>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <!-- [ Main Content ] start -->
    <div class="pc-container">
      <%= anuncios_bootstrap %>
      <%= yield %>
      <% if content_for?(:piedepagina) %>
        <footer style='text-align: right'>
          <%= yield :piedepagina %>
        </footer>
      <% end %>
    </div> 
    <!-- pc-container -->
  </body>
</html>
