<% content_for :title do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus_dk do %>
    <%= despliega_abajo_dk(
      I18n.t(:Monitoreo),
      nil, sinflecha: true, leyenda: true) do %>
    <% end %>
    <%= despliega_abajo_dk(
      I18n.t(:Tablero), Rails.configuration.relative_url_root.to_s,
      maticon: 'home', sinflecha: true) do %>
    <% end %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo_dk(
        I18n.t(:Proyectosfinancieros), '#',
        maticon: 'business_center') do %>
        <%= opcion_menu_dk(
          I18n.t(:Listado),
          cor1440_gen.proyectosfinancieros_path) %>
        <%= opcion_menu_dk(
          I18n.t(:Validar), 
          cor1440_gen.validar_proyectosfinancieros_path) %>
        <% if can? :manage, Cor1440Gen::Mindicadorpf %>
          <%= opcion_menu_dk(
            I18n.t('Medir indicadores'),
            cor1440_gen.mindicadorespf_path) %>
        <% end %>
      <% end %>
      <%= despliega_abajo_dk(
        I18n.t(:Actividades), '#', maticon: 'history_edu') do %>
        <%= opcion_menu_dk(
          I18n.t(:Listado), cor1440_gen.actividades_path) %>
        <%= opcion_menu_dk(
          I18n.t('Contar por actividad de marco lógico'),
          cor1440_gen.contar_actividades_path) %>
        <%= opcion_menu_dk(
          I18n.t('Contar por beneficiario y actividad de marco lógico'),
          cor1440_gen.contar_actividades_beneficiarios_path) %>
        <% if can? :manage, ::Sip::Orgsocial %>
          <%= opcion_menu_dk I18n.t('Organizaciones sociales'),
            sip.orgsociales_path %>
        <% end %>
        <% if can? :manage, ::Sip::Persona %>
          <%= opcion_menu_dk I18n.t(:Beneficiarios),
            sip.personas_path %>
        <% end %>
      <% end %> <!-- Actividades -->
    <% end %><!-- if !current_usuario.nil? -->
    <%= despliega_abajo_dk(
      I18n.t(:Documentos), nil, sinflecha: true, leyenda: true) do %>
    <% end %>

    <%= despliega_abajo_dk(
      I18n.t(:Manual), 
      'https://docs.google.com/document/d/1mmydkqNmZbXkzcpkiegQ_XAP_NkjfX-RXgcW1yzjdpE/edit?usp=sharing',
      maticon: 'menu_book', sinflecha: true, target: '_blank') do %>
    <% end %>

    <% if !current_usuario.nil? %>
      <%= despliega_abajo_dk(
        I18n.t(:Nube), 
        heb412_gen.sisini_path,
        maticon: 'cloud', sinflecha: true) do %>
      <% end %>

      <%= despliega_abajo_dk(
        I18n.t(:Administrar),
        nil, sinflecha: true, leyenda: true) do %>
      <% end %>

      <%= despliega_abajo_dk(
        I18n.t(:Plantillas), '#',
        maticon: 'edit') do %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= opcion_menu_dk(
            I18n.t("Plantillas para listados en hojas de cálculo"),
            heb412_gen.plantillashcm_path) %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= opcion_menu_dk(
            I18n.t("Plantillas para registros individuales en hojas de cálculo"),
            heb412_gen.plantillashcr_path) %>
        <% end %>
      <% end %> <!-- despliega_abajo_dk -->

      <%= despliega_abajo_dk(
        I18n.t(:Configuraciones), '#',
        maticon: 'settings') do %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu_dk I18n.t(:Usuarios), 
            main_app.usuarios_path %>
        <% end %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu_dk I18n.t(:Formularios), 
            mr519_gen.formularios_path %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu_dk I18n.t('Tablas básicas'), 
            sip.tablasbasicas_path %>
        <% end %>
      <% end %> <!-- despliega_abajo_dk -->
    <% end %> <!-- if !current_usuario.nil? -->
  <% end %> <!-- grupo_menus_dk -->
<% end %>


<% content_for :piedepagina do %>
  <p><span class='derechos'>Sistema de información de 
    <a href='https://github.com/pasosdeJesus/cor1440'>código abierto</a> con 
    <a href="https://github.com/pasosdeJesus/sip/blob/main/LICENCIA.md">licencia ISC</a>
    <br/>
    Desarrollado por <a id='pasosdeJesus' href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2022. 
<% end %>

<%= render template: "layouts/sip/application-dk1" %>
