<% content_for :title do %>
    <%= Msip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo "Proyectos" do %>
        <%= opcion_menu "Listado", cor1440_gen.proyectosfinancieros_path,
          desplegable: true %>
        <%= opcion_menu "Validar", 
          cor1440_gen.validar_proyectosfinancieros_path,
          desplegable: true %>
        <% if can? :manage, Cor1440Gen::Mindicadorpf %>
          <%= opcion_menu "Medir Indicadores", 
            cor1440_gen.mindicadorespf_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= despliega_abajo "Actividades" do %>
        <%= opcion_menu "Listado", cor1440_gen.actividades_path,
          desplegable: true %>
        <!--%= opcion_menu "Informes", cor1440_gen.informes_path,
          desplegable: true %-->
        <%= opcion_menu "Contar por actividad de marco lógico", 
          cor1440_gen.contar_actividades_path, desplegable: true %>
        <%= opcion_menu "Contar por beneficiario y actividad de marco lógico", 
          cor1440_gen.contar_actividades_beneficiarios_path, desplegable: true %>
        <% if can? :manage, ::Msip::Orgsocial %>
          <%= opcion_menu "Organizaciones sociales", msip.orgsociales_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, ::Msip::Persona %>
          <%= opcion_menu "Beneficiarios", msip.personas_path,
            desplegable: true %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= grupo_menus :pull => :right do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo "Documentos y plantillas" do %>
        <%= opcion_menu "Nube", heb412_gen.sisini_path, 
          desplegable: true %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= opcion_menu "Plantillas para listados en hojas de calculo",
            heb412_gen.plantillashcm_path,
          desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= opcion_menu "Plantillas para un registro en hoja de calculo",
            heb412_gen.plantillashcr_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave y tema", main_app.editar_registro_usuario_path,
            desplegable: true %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Usuarios", main_app.usuarios_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu "Formularios", mr519_gen.formularios_path,
            desplegable: true %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Tablas básicas", msip.tablasbasicas_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu "Acerca de", msip.acercade_path, desplegable: true %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path,
        desplegable: true %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'>Sistema de información de 
    <a href='https://github.com/pasosdeJesus/cor1440'>código abierto</a> con 
    <a href="https://github.com/pasosdeJesus/msip/blob/main/LICENCIA.md">licencia ISC</a>
    <br/>
    Desarrollado por <a id='pasosdeJesus' href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2022. 
<% end %>

<%= render template: "layouts/msip/application" %>
